services:
  pgadmin:
    container_name: pgadmin
    image: dpage/pgadmin4:latest
    user: root
    environment:
      PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL:-admin@admin.com}
      PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD:-admin}
      PGADMIN_CONFIG_SERVER_MODE: 'False'
      PGADMIN_CONFIG_MASTER_PASSWORD_REQUIRED: 'False'
    volumes:
      - pgadmin:/var/lib/pgadmin
      - ~/.ssh:/var/lib/pgadmin/storage/admin_admin.com/.ssh
    networks:
      - caddy
    labels:
      caddy: pgadmin.localhost
      caddy.reverse_proxy: "{{upstreams 80}}"
    restart: unless-stopped

networks:
  caddy:
    external: true

volumes:
  pgadmin:
