services:
  mongo:
    container_name: mongo
    image: mongo:latest
    ports:
      - 27017:27017
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGO_USER:-localhost}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGO_PASSWORD:-localhost}
    volumes:
      - ./data/mongo/:/data/db/
    networks:
      - caddy
    restart: unless-stopped

networks:
  caddy:
    external: true
