services:
  redis:
    container_name: redis
    hostname: redis
    image: redis:latest
    environment:
      - ALLOW_EMPTY_PASSWORD=yes
    volumes:
      - ./data/redis:/data
    ports:
      - "6379:6379"
    networks:
      - caddy
    restart: unless-stopped

networks:
  caddy:
    external: true
